html,
body,
.wrap {
  position: relative;
  width: 100%;
}
#root * {
  font-family: AppleSystemUIFont-Semibold;
}
#root a {
  color: #2f2f2f;
}
ul,
li {
  list-style: none;
}
.header {
  float: left;
  position: relative;
  padding: 15px 36px;
  border-bottom: 1px solid #d8d8d8;
}
.banna_container {
  float: left;
  width: 100%;
  max-width: 100%;
}
input.form-control {
  width: 100%;
  padding: 13px 20px;
  font-size: 14px;
  color: #898989;
  height: 40px;
}

.bg-gray{
  background-color: #f8f9fa;
}
.f_left{
  float:left;
}
.f_right{
  float:right;
}
.t_left{
  text-align:left;
}
.t_right{
  text-align:right;
}
.t_center{
  text-align:center;
}
.pl_0{
  padding-left:0;
}
.pr_0{
  padding-right:0;
}
.pt_0{
  padding-top:0;
}
.pb_0{
  padding-bottom:0;
}