.register_form * {
  color: #2f2f2f;
}
.header_link {
  float: left;
  font-size: 22px;
}
.register_form {
  width: 100%;
  max-width: 380px;
  padding: 100px 0 142px 0;
  margin: 0 auto;
}
.register_form .title {
  font-size: 34px;
  text-align: center;
}
.register_form input.form-control {
  margin-bottom: 12px;
  border: 1px solid #dddddd;
}
.register_form .sub_title {
  font-size: 14px;
  color: #000000;
  font-weight: 600;
  margin: 32px 0 12px 0;
}

.regiser_btn {
  font-size: 14px;
  background-color: #e6e6e6;
  height: 44px;
  padding: 12px 0;
  text-align: center;
  width: 100%;
  margin: 40px 0;
  border: none;
}

.regiser_btn:hover {
  background-color: #e6e6e6;
  color: #2f2f2f;
}
.login_go {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
.login_go span {
  margin-right: 8px;
}

.category_form {
  width: 100%;
  max-width: 860px;
  margin: 36px auto;
  width: 860px;
  height: 573px;
  padding: 52px 68px 80px;
  border-radius: 20px;
  border: solid 1px #f2f2f2;
  background-color: #fff;
}
.category_form .title{
  height: 31px;
  margin: 0 410px 8px 0;
  font-family: AppleSDGothicNeo;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #292725;
}
.category_form .btnarea{
  margin-bottom:28px;
}
.category_form .btnarea Button{
  float:right;
  height: 38px;
  margin: 20px 0 20px 76px;
  padding: 11px 18px 10px;
  background-color: #696969;
  font-family: AppleSystemUIFont;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;

}

.category_form .listitem{
  width: 100%;
  height: 44px;
  margin: 0 0 12px;
  padding: 10px 16px;
  border: solid 1px #e5e5e5;
  background-color: #fff;
}


.category_form div{
  width:100%;
  float:left;
}

.category_form span{
  height: 17px;
  margin: 8px 208px 32px 0;
  font-family: AppleSDGothicNeo;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #76726f;
}

.category_form .line{
  width: 724px;
  height: 1px;
  margin: 32px 0 28px;
  background-color: #efeeed;
}

.category_form .toggleIcon{
  width: 24px;
  height: 24px;
  margin: 0 16px 0 0;
  padding: 6px 3px 7px;
  background-color: pink;
}
.category_form .setIcon{
  width: 24px;
  height: 24px;
  float:right;
  padding: 10px 5px 11px 6px;
  background-color: skyblue;
}

.category_form .listitem span{
  height: 14px;
  font-family: AppleSystemUIFont;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #767676;
}

.membership_form {
  width: 100%;
  max-width: 860px;
  margin: 36px auto;
  width: 860px;
  height: 800px;
  padding: 52px 68px 80px;
  border-radius: 20px;
  border: solid 1px #f2f2f2;
  background-color: #fff;
}
.membership_form .title{
  height: 31px;
  margin: 0 410px 8px 0;
  font-family: AppleSDGothicNeo;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #292725;
}
.membership_form .btnarea{
  margin-bottom:28px;
}
.membership_form .btnarea Button{
  float:right;
  height: 38px;
  margin: 20px 0 20px 76px;
  padding: 11px 18px 10px;
  background-color: #696969;
  font-family: AppleSystemUIFont;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;

}

.membership_form .listitem{
  width: 100%;
  height: 108px;
  margin: 0 0 12px;
  padding: 10px 16px;
  border: solid 1px #e5e5e5;
  background-color: #fff;
}


.membership_form div{
  width:100%;
  float:left;
}

.membership_form .listitem .item{
  width: 50%;
  height: 17px;
}

.membership_form .line{
  width: 724px;
  height: 1px;
  margin: 32px 0 28px;
  background-color: #efeeed;
}

.membership_form .listitem div{
  width:50%;
  margin-bottom: 8px;
  font-size:14px;
  font-weight:normal;
  color:#767676;
}
.membership_form .setIcon{
  width: 24px !important;
  height: 24px !important;
  float:right;
  padding: 10px 5px 11px 6px;
  background-color: skyblue;
}

.membership_form .listitem span{
  height: 14px;
  font-family: AppleSystemUIFont;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #767676;
}

.membership_form .listitem .itemtitle{
  width:80%;
  font-family: AppleSystemUIFont;
  font-size: 16px;
  font-weight: 600;
  color:#2f2f2f;
}

.membershipModal{
  max-width:600px;
}

.membershipModal .title{
  margin-bottom:20px;
}

.membershipModal .days span{
  width:40px;
  height:40px;
  display: inline-block;
  border: 1px solid #afafaf;
  text-align: center;
  padding: 8px;
  border-left:0;
  cursor:pointer;
}
.membershipModal .days span:last-child,.membershipModal .days span:first-child{
  border-left:1px solid #afafaf;
}
.membershipModal .days .all{
  width:68px;
  height:40px;
  margin-left:11px;
}
.membershipModal .days .select{
  background-color: #696969;
  color: #fff;
}

.membershipModal .btn-close{
  border:none;
  background:none;
}
